.body{
  
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #000000;
}

/* navbar  */
header {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #000000;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}


.profile_name {
  font-size: 30px;
  font-weight: lighter;
  color: gold;
}

.hamburger {
  display: none;
}

nav ul {
  display: flex;
list-style:none;
}

nav ul li a {
  display: block;
  color: rgb(255, 255, 255);
  /* border-radius: 50px; */
  padding: 5px 10px;
  margin: 0 15px;
  transition: 0.2s;
  list-style: none;
  text-decoration: none;
}

nav ul li a:hover {
  color: gold;
  font-weight: bold;
}


@media only screen and (max-width: 900px) {

  .hamburger {
    margin-right: 20px;
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color:gold;
    margin: 6px 0;
  }

  nav {
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    transition: 0.2s;
    background-color: #000000;
    overflow: hidden;
    z-index: 100; 

  }

  nav ul {
    display: block;
    transition: 0.2s;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    opacity: 1;
  }

  nav ul li a {
    margin-bottom: 12px;
  }

  .nav-bar.active {
    height: 250px;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

}


/* Hero */
.hero-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 1.5rem;
}

/* Animation */
.text-container h1,
.text-container p {
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 5s forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* About */

.about-container{
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgb(48, 93, 240),rgb(106, 11, 11), rgba(0, 0, 0, 0.9));
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.about-heading{
  color: gold;
  text-align: center;
  /* height: 1%; */
  /* padding-bottom: 10px; */
}

.about-real-container{
  display:flex;
  width: 100%;
  height: 100%;
}

.about-info{
  width: 50%;
  height: 100%;
  font-family:cursive;
  font-size:x-large;
  text-decoration: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-left: 50px;
  color: gold;

}


.about-button {
  margin-top: 20px;
  text-align: center;
}

.about-button button {
  background-color: gold;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.about-button button:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
}


.about-img{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10%;

}

.about-img-fluid{
  width: 70%;
  height: 50%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

/* Add media query for screens with width less than 768px */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    height: 100vh;
  }
  
  .about-real-container{
    flex-direction: column;
    width: 100%;
  }

  .about-info,
  .about-img {
    width: 100%;
    height: 40%;
    padding: 10px;
    text-align: center;
    font-size: large;
  }
  
  .about-info {
    order: 2; /* Move text below image */
  }
  
  .about-img {
    padding-left: 0; /* Remove left padding */
  }
  
  .about-img-fluid {
    width: 70%; /* Adjust image size */
    height: 100%;
    margin: 0 auto; /* Center the image */
  }
}



/* Skills */

.skills-container{
  background-color: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 30vh;
  
}
.skills-heading{
  color: gold;
  text-align: center;
  background-color: black;
}


.skill-slider{
  height: 100%;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin: auto;
  overflow: hidden;
  position: relative;
  /* width: auto; */
  background-color: rgb(0, 0, 0);
}

.skill-slider-track {
  display: flex;
  height: 80%;
  width: 100%;
  transition: transform 0.3s ease; /* Add transition for smooth scrolling */
  /* Rest of the styles... */
  justify-content: center;
  align-items: center;
}


.slide{
  /* height: 100px;
  width: 250px; */
  height: 100%;
  width: 100%;
  /* padding: 20px; */
  background-color: #000000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.skill-img{
  width: 30%;
  height: 90%;
  background-color: #000000;
  align-items: center;
  justify-content: center;
}
.skill-img:hover{
  border: #ffffff;
  transform: scale(1.05);

}

@media screen and (max-width: 769px){
.skill-img{
  width: 50%;
  height: 70%;
}
}


@keyframes scroll {
  0% {
    transform: translateX(0);
    justify-content: center;
    align-items: center;
  }
  100% {
    /* transform: translateX(calc(-250px * 3)); Slide by 3 skills */
    justify-content: center;
    align-items: center;
  }
}



.dot-navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
}

.active-dot {
  background-color: white;
  justify-content: center;
  align-items: center;
}

/* Projects */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgb(48, 93, 240),rgb(106, 11, 11), rgba(0, 0, 0, 0.9));
  position: relative;
}

.projects-heading{
 
    color: gold;
    text-align: center;
    background-color:none;
    
  
}
.car-gallery {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* margin-top: 50px; */
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgb(48, 93, 240),rgb(106, 11, 11), rgba(0, 0, 0, 0.9));
}

.car-box {
  /* width: calc(33.33% - 20px);Adjust as needed for 3 cards in a row */
  /* margin-top: 10%; */
  align-items: center;
  justify-content: center;
  padding: 10px;
  width:30%;
  height: 70%;
  box-sizing: border-box;
  position: relative;
 
}


.projects-button {
  margin-top: 20px;
  text-align: center;
}

.projects-button button {
  background-color: gold;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.projects-button button:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
}

/* Responsive Styling */
@media screen and (max-width: 1200px) {

  .projects-container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
  }

  .car-gallery{
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: relative;
  }

  .car-box {
    margin: 2.5%;
    height: 30%;
    width: 90%; /* Display 1 car box per row for small screens */
    display: grid;
    padding: 0;
    position: relative;
  }

  .car-card{
     width: 100%;
  height: 100%;
  position: relative;
  /* display: grid; */
  }

  .car-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    position: relative;
  }
}



.car-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: rgb(63, 56, 199);
  overflow: hidden;
  position: relative;
}

.car-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-details {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 97%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.car-card:hover .card-details {
  transform: translateY(0);
}

.card-details h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  color: gold;
  margin-bottom: 5px;
}

.card-details p {
  font-size: 16px;
  font-family: cursive;
  color: #ffffff;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
  padding: 20px;
  /* height: 30vh; */
  position: relative
}

.footer-column {
  flex: 1;
  padding: 10px;
}

.footer-column h4 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}


.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: gold;
}
.footer-column p {
  margin: 5px 0;
}